<div class="background">
  <div class="card">
    <form [formGroup]="resetForm" (submit)="reset()">
      <h1 class="title">Reinitialisation du mot de passe</h1>

      <div class="email-login">
        <label for="email"> <b>Email ou identifiant</b></label>
        <input
          type="email"
          formControlName="email"
          placeholder="Veuillez entrer votre identifiant"
        />
      </div>
      <input type="submit" class="cta-btn" value="Envoyer" />
    </form>
  </div>
</div>
