<mat-toolbar class="nav">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <mat-list-item routerLink="dashboard" class="link"
        >Dashboard</mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item routerLink="produits" class="link">Produit</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="categories" class="link"
        >Catégorie</mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item routerLink="poc" class="link">POC</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="login" class="link">Déconnexion</mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
