<mat-toolbar class="nav">
  <svg
    (click)="translate()"
    class="ham hamRotate ham1"
    viewBox="0 0 100 100"
    width="50"
    onclick="this.classList.toggle('active')"
  >
    <path
      class="line top"
      d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"
    />
    <path class="line middle" d="m 30,50 h 40" />
    <path
      class="line bottom"
      d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"
    />
  </svg>
  <svg
    *ngIf="cartIcon"
    (click)="openPanier()"
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-shopping-bag"
    width="50"
    height="35"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
      d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z"
    ></path>
    <path d="M9 11v-5a3 3 0 0 1 6 0v5"></path>
  </svg>

  <h1>JAYFII</h1>
</mat-toolbar>

<div id="nav-bar">
  <input id="nav-toggle" type="checkbox" />
  <div id="nav-header">
    <label for="nav-toggle"></label>
    <hr />
  </div>
  <div id="nav-content">
    <div class="nav-button" (click)="open()">
      <i class="fas fa-store"></i><span>Mes Boutiques</span>
    </div>
    <div class="nav-button" routerLink="../admin">
      <i class="fas fa-user"></i><span>Admin</span>
    </div>
    <div class="nav-button" routerLink="../profile">
      <i class="fas fa-user-circle"></i><span>Profil</span>
    </div>
    <div class="nav-button" routerLink="../dashboard">
      <i class="fas fa-dashboard"></i><span>Dashboard</span>
    </div>
    <div class="nav-button" routerLink="../produits">
      <i class="fas fa-chart-line"></i><span>Produits</span>
    </div>
    <div class="nav-button" routerLink="../categories">
      <i class="fas fa-fire"></i><span>Catégories</span>
    </div>
    <div class="nav-button" routerLink="../poc">
      <i class="fas fa-wallet"></i><span>PDV</span>
    </div>
    <div class="nav-button" (click)="deconnexion()">
      <i class="fas fa-sign-in"></i><span>Déconnexion</span>
    </div>
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox" />
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar">
        <img
          *ngIf="currentStore?.imageBoutique"
          src="{{ 'data:image/png;base64,' + currentStore?.imageBoutique }}"
        />
      </div>
      <div id="nav-footer-titlebox">
        <a id="nav-footer-title">{{ currentStore?.nomBoutique }}</a
        ><span id="nav-footer-subtitle"></span>
      </div>
      <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
    </div>
    <div id="nav-footer-content">{{ currentStore?.adresse }}</div>
  </div>
</div>

<div class="popup-container hidden w-100 vh-100">
  <div class="popup-content h-100">
    <div class="close" (click)="close()">
      <i class="fas fa-close"></i>
    </div>
    <div class="title">
      <h1>Veuillez choisir une boutique</h1>
    </div>
    <div class="content-child">
      <div class="card text-center my-4" *ngFor="let boutique of shops">
        <img
          src="{{ 'data:image/png;base64,' + boutique?.imageBoutique }}"
          class="card-img-top"
        />
        <div class="card__content">
          <p class="card__title">{{ boutique?.nomBoutique }}</p>
          <div class="card__description">
            <p>
              <i class="fas fa-map"></i>
              {{ boutique?.adresse }}
            </p>
            <a
              class="color color-dark"
              href="{{ boutique?.lienBoutique }}"
              target="_blank"
              >Site web de la boutique</a
            >
          </div>
          <a (click)="switch(boutique); close()"
            ><button class="card__button">Choisir cette boutique</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
