@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html, body { margin: 0; background: #9c88ff; }

button
{
    border: none;
    color: white;
    cursor: pointer;
    background: none;
}

.title h1 { font-family: "Luckybones", "Helvetica Neue", sans-serif; }

.nav {
  color:white;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002978;
  h1 { margin: 0; font-family: 'Luckybones', sans-serif; } }

a { text-decoration: none; }

#nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 888;
  display: flex;
  color: #f5f6fa;
  overflow: hidden;
  height: calc(100%);
  background: #002978;
  flex-direction: column;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  font-family: 'Luckybones', sans-serif;
  user-select: none; }
  #nav-bar hr {
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px #002978; }
    #nav-bar input[type="checkbox"] { display: none; }
    #nav-bar a { color: inherit; text-decoration: inherit; }

#nav-header {
  position: relative;
  width: 256px;
  left: 16px;
  width: calc(256px - 16px);
  min-height: 65px;
  background: #002978;
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width .2s; }
  #nav-header hr { position: absolute; bottom: 0; }

.translate { transform: translateX(0)!important; transition: 0.5s ease-in-out; }

#nav-title { font-size: 1.5rem; transition: opacity 1s; }

label[for="nav-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

  #nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: 256px;
  background: #002978;
  box-shadow: 0 0 0 16px #002978;
  direction: rtl;
  overflow-x: hidden;
  transition: width .2s; }
  #nav-content::-webkit-scrollbar-button { height: 16px; }
  #nav-content::-webkit-scrollbar { width: 8px; height: 8px; }
  #nav-content::-webkit-scrollbar-thumb { border-radius: 99px; background-color: white; }

#nav-content-highlight {
  position: absolute;
  left: 16px;
  top: -70px;
  width: calc(100% - 16px);
  height: 54px;
  background: #fff;
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top .2s; }
  #nav-content-highlight:before, #nav-content-highlight:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px #fff; }
  #nav-content-highlight:after { top: 100%; box-shadow: 16px -16px #fff; }

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: #fff;
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color .2s; }
  .nav-button span { transition: opacity 1s; }
  .nav-button .fas { transition: min-width .2s; }
  .nav-button:nth-of-type(1):hover { color: #000; }
    .nav-button:nth-of-type(1):hover ~ #nav-content-highlight { top: 16px; }
  .nav-button:nth-of-type(2):hover { color: #000; }
    .nav-button:nth-of-type(2):hover ~ #nav-content-highlight { top: 70px; }
  .nav-button:nth-of-type(3):hover { color: #000; }
    .nav-button:nth-of-type(3):hover ~ #nav-content-highlight { top: 124px; }
  .nav-button:nth-of-type(4):hover { color: #000; }
    .nav-button:nth-of-type(4):hover ~ #nav-content-highlight { top: 178px; }
  .nav-button:nth-of-type(5):hover { color: #000; }
    .nav-button:nth-of-type(5):hover ~ #nav-content-highlight { top: 232px; }
  .nav-button:nth-of-type(6):hover { color: #000; }
    .nav-button:nth-of-type(6):hover ~ #nav-content-highlight { top: 286px; }
  .nav-button:nth-of-type(7):hover { color: #000; }
    .nav-button:nth-of-type(7):hover ~ #nav-content-highlight { top: 340px; }
  .nav-button:nth-of-type(8):hover { color: #000; }
    .nav-button:nth-of-type(8):hover ~ #nav-content-highlight { top: 394px; }

#nav-bar .fas { min-width: 3rem; text-align: center; }

#nav-footer {
  z-index: 2;
  width: 256px;
  height: 54px;
  display: flex;
  position: relative;
  border-radius: 16px;
  background: #2c3e50;
  flex-direction: column;
  transition: width .2s, height .2s; }

#nav-footer-heading {
  width: 100%;
  height: 54px;
  display: flex;
  position: relative;
  align-items: center; }

#nav-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: .2s; }
  #nav-footer-avatar img {
    height: 100%; }

#nav-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s; }

#nav-footer-subtitle {
  color: #8392a5;
  font-size: .6rem; }

#nav-footer-toggle:checked + #nav-footer {
  height: 30%;
  min-height: 54px; }
  #nav-footer-toggle:checked + #nav-footer label[for="nav-footer-toggle"] {
    transform: rotate(180deg); }

label[for="nav-footer-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform .2s, opacity .2s; }

#nav-footer-content {
  margin: 0 16px 16px 16px;
  border-top: solid 1px #8392a5;
  padding: 16px 0;
  color: #8392a5;
  font-size: .8rem;
  overflow: auto; }
  #nav-footer-content::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  #nav-footer-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: white; }

.popup-container
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  background-color: rgba(21, 17, 17, 0.61);

}
.popup-content
{
  width: 80%;
  padding: 2em;
  z-index: 999;
  display: flex;
  overflow-y: auto;
  border-radius: 2em;
  align-items: center;
  flex-direction: column;
  background-color: #eceff1;
  transition: 0.5s ease-in-out;
  justify-content: space-evenly;
}
.hidden
{
  opacity: 0;
  z-index: -999;
}
.close
{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  .fas
  {
    font-size: 2em;
    cursor: pointer;
  }
}
.content-child
{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-evenly;
}

// -- Burger button

.icon-tabler,.ham
{
  position: absolute;
  cursor: pointer;
  color: white;
  z-index: 992;
}
.icon-tabler
{
  right: 0.5%;
}
.ham
{
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0.5%;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

// Store cards

.card
{
  position: relative;
  width: 350px;
  display: flex;
  overflow: hidden;
  aspect-ratio: 16/9;
  border-radius: 10px;
  align-items: center;
  perspective: 1000px;
  justify-content: center;
  background-color: #f2f2f2;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card img
{
  width: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card__image
{
  width: 100%;
  height: 100%;
}
.card:hover
{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.card__content
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform-origin: bottom;
  transform: rotateX(-90deg);
  background-color: #f2f2f2;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover .card__content
{
  transform: rotateX(0deg);
}
.card__title
{
  margin: 0;
  color: #333;
  font-size: 20px;
  font-weight: 700;
}
.card:hover img
{
  scale: 0;
}
.card__description
{
  color: #777;
  font-size: 12px;
  line-height: 1.4;
  margin: 10px 0 10px;
}
.card__button
{
  border: none;
  padding: 15px;
  color: white;
  border-radius: 8px;
  background: #777;
}


@media screen and (max-width: 560px)
{
  .popup-content
  {
    width: 100%;
  }
}
@media screen and (max-width: 370px)
{
  .title h1
  {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
}
