@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
button
{
    border: none;
    color: white;
    cursor: pointer;
    background: none;
}
.nav
{
  color:white;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002978;
  h1
  {
    margin: 0;
    font-family: 'Lumanosimo', cursive;
  }
}
a
{
  text-decoration: none;
}
.translate
{
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
nav
{
  position: fixed;
  top: 0;
  width: 280px;
  height: 100%;
  z-index: 990;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #002978;
  transition: width 300ms ease;
  transition: 0.5s ease-in-out;
  transform: translateX(-280px);
  .nav__container
  {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  mat-icon{
    color:white;
  }
  .nav__item
  {
    cursor: pointer;
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    transition: all 300ms ease-in-out;
    &.active
    {
      padding-left: 10px;
      &::after,
      &::before
      {
        transition: opacity 300ms 150ms ease-in-out;
        opacity: 1;
      }
      *
      {
        color: #009688;
        font-weight: 900;
      }
      .nav__item-icon
      {
        background-color: #eceff1;
        border-radius: 10px;
      }
      .nav__item-name
      {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #eceff1;
        margin-left: 10px;
      }
    }
    &::before,
    &::after
    {
      position: absolute;
      right: 0;
      width: 30px;
      height: 30px;
      content: "";
      opacity: 0;
      transition: opacity 100ms ease-in-out;
    }
    &::before
    {
      top: -30px;
      box-shadow: 15px 15px 0px 0px #eceff1;
    }
    &::after
    {
      bottom: -30px;
      box-shadow: 15px -15px 0px 0px #eceff1;
    }
  }
  .nav__item-name
  {
    display: flex;
    flex-grow: 1;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    color: #fff;
    flex-shrink: 0;
    transition: all 300ms ease-in-out;
  }
  .nav__item-icon
  {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    transition: all 300ms ease-in-out;
    ion-icon
    {
      font-size: 1.5em;
      color: #fff;
    }
  }
}
.popup-container
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  background-color: rgba(21, 17, 17, 0.61);
}
.popup-content
{
  width: 80%;
  z-index: 1000;
  display: flex;
  min-height: 85%;
  border-radius: 2em;
  align-items: center;
  flex-direction: column;
  background-color: #eceff1;
  transition: 0.5s ease-in-out;
  justify-content: space-evenly;
  padding: 4em;
}
.hidden
{
  transform: scale(0);
}
.close
{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  .fas
  {
    font-size: 2em;
    cursor: pointer;
  }
}
.content-child
{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  min-height: 45vh;
  justify-content: space-evenly;
  .card
  {
    width: 25%;
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    border: 2px solid white;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
  .card img
  {
    width: auto;
    height: 100%;
    max-width: 100%;
  }
}

// -- Burger button
.icon-tabler,.ham
{
  position: absolute;
  cursor: pointer;
  color: white;
  z-index: 992;
}
.icon-tabler
{
  right: 0.5%;
}
.ham
{
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0.5%;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}