nav
{
    background-color: #02142F;
    padding: 0.5%;
}
.left,.right
{
    width: 25%;
}
button
{
    border: none;
    background: none;
    color: white;
}
.logo
{
    font-size: 2rem;
    cursor: pointer;
}
.active
{
    color: #666;
    text-decoration: underline;
}