<div class="myCard-child">
  <span>{{ selected.nom }}</span>
  <span class="quantity-control">
    <button *ngIf="selected.quantiteEnStock > 0" (click)="incremente(selected)">
      +
    </button>
    <span class="quantity">{{ selected.quantite }}</span>
    <button *ngIf="selected.quantite > 1" (click)="decremente(selected)">
      -
    </button>
  </span>
  <span class="prix">{{ selected.prix * selected.quantite }} FCFA</span>
  <button (click)="close(selected)">
    <i class="fas fa-close"></i>
  </button>
</div>
