<div
  class="myCard-child mx-5 my-2 d-flex justify-content-between align-items-center text-center"
>
  <span class="image">
    <img src="{{ 'data:image/png;base64,' + selected?.image }}" />
  </span>
  <div class="intel d-flex justify-content-between">
    <div
      class="first-column w-50 d-flex flex-column justify-content-between align-items-start"
    >
      <span class="w-100 text-start">{{ selected.nom }} </span>
      <span class="w-100 text-start"
        >{{ selected.prix * prixCalculee }} FCFA</span
      >
    </div>
    <div
      class="second-column w-50 d-flex flex-column justify-content-between align-items-end"
    >
      <span class="w-50 text-center">
        <input
          type="number"
          class="quantity form-control text-center"
          [formControl]="input"
          (input)="ajoutQuantite(selected)"
        />
      </span>
      <span class="w-50 mt-3 text-center" (click)="close(selected)"
        >Supprimer</span
      >
    </div>
  </div>
</div>
