.myCard-child
{
  padding: 1em;
  background: white;
  border-radius: 16px;
  .image { width: 10%; }
  .intel { width: 80%; }
  span { cursor: pointer; }
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
img
{
    width: 60px;
    height: 60px;
    object-fit: scale-down;
}
@media screen and (max-width: 630px) { .myCard-child { padding: 0.5em; } }
@media screen and (max-width: 425px) { .intel { width: 65% !important; } .second-column { align-items: start !important; } }
@media screen and (max-width: 900px) { .myCard-child { margin-left: 0.5rem!important; margin-right: 0.5rem!important; } }