.myCard-child
{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  text-align: center;
  button
  {
    width: 10%;
    height: 95%;
    border: none;
    color:black;
    cursor:pointer;
    background: none;
    font-size: 1.5em;
    transition: 0.5s ease-in-out;
  }
  span
  {
    width: 20%;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number]
{
  -moz-appearance: textfield;
}
img
{
    width: 60px;
    height: 60px;
    object-fit: scale-down;
}
@media screen and (max-width: 630px)
{
  .myCard-child
  {
    padding: 0.5em;
  }
}