<div class="background">
  <div class="card">
    <form [formGroup]="resetForm" (submit)="modifier()">
      <h1 class="title">Modifier votre mot de passe</h1>

      <div class="email-login">
        <label for="email"> <b>Nouveau mot de passe</b></label>
        <input
          type="password"
          formControlName="password"
          placeholder="Veuillez entrer votre nouveau mot de passe"
        />
      </div>
      <div class="footer">
        <a routerLink="">Annuler</a>
        <input type="submit" class="cta-btn" value="Modifier" />
      </div>
    </form>
  </div>
</div>
