<div class="container">
  <div class="first-container">
    <button routerLink="add">
      <i class="fas fa-plus" style="font-size: 10px"></i>
      <p class="ajout">AJOUTER UNE CATÉGORIE</p>
    </button>
    <div><i class="fas fa-trash" style="font-size: 20px"></i></div>
  </div>
  <div class="second-container">
    <mat-checkbox></mat-checkbox>
    <p>Nom de la catégorie</p>
  </div>
  <div class="final-container" *ngFor="let categorie of pageSlice">
    <mat-checkbox></mat-checkbox>
    <div class="box-n-stuff">
      <div class="box"></div>
      <div>
        <h4>{{ categorie.nom }}</h4>
        <p>{{ categorie.produits.length }} produit(s)</p>
      </div>
    </div>
  </div>
  <mat-paginator
    [length]="mesCategories.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 50]"
    showFirstLastButtons
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
