<app-spinner *ngIf="spin"></app-spinner>
<app-header></app-header>
<div
  class="body w-100 min-vh-100 d-flex flex-column justify-content-evenly align-items-center"
>
  <h1 class="page-title">Mes Catégories</h1>
  <div class="my_container">
    <div class="first-container mx-auto" *ngIf="ajout_cat_button">
      <button class="add-category" routerLink="add">
        <i class="fas fa-plus" style="font-size: 10px"></i>
        <p class="ajout">AJOUTER UNE CATÉGORIE</p>
      </button>
      <button
        class="delete-button"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        <svg class="delete-svgIcon" viewBox="0 0 448 512">
          <path
            d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
          ></path>
        </svg>
      </button>
    </div>
    <!-- ========== Second Parent ========== -->
    <div class="second-parent mt-5">
      <div class="w-100 table-responsive">
        <table class="first-table w-100">
          <tr
            class="d-flex justify-content-evenly align-items-center text-center mb-3"
          >
            <td class="checkbox text-center">
              <mat-checkbox (change)="check($event)"></mat-checkbox>
            </td>
            <td class="checkbox text-center"><span>Modifier</span></td>
            <td class="text-center"><span>Catégorie</span></td>
            <td class="text-center"><span></span></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- ========== Third Parent ========== -->
    <div class="third-parent" *ngFor="let categorie of pageSlice">
      <div class="w-100 d-flex align-items-center table-responsive">
        <table class="second-table w-100">
          <tr
            class="d-flex justify-content-evenly bg-light align-items-center py-3 my-2 border border-bottom-dark rounded"
          >
            <td class="checkbox text-center">
              <mat-checkbox
                [checked]="isSelected"
                (change)="coche($event, categorie)"
              >
              </mat-checkbox>
            </td>
            <td class="checkbox text-center d-flex justify-content-center">
              <button
                class="modif d-flex justify-content-center align-items-center btn btn-light rounded-circle"
              >
                <i
                  class="fas fa-marker"
                  style="font-size: 16px"
                  [routerLink]="['modifier', categorie.id]"
                  title="Modifier"
                ></i>
              </button>
            </td>
            <td class="text-center">
              <span>{{ categorie?.nom }}</span>
            </td>
            <td class="text-center d-flex justify-content-center">
              <span class="box"></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <mat-paginator
      class="paginator"
      [length]="mesCategories.length"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 50]"
      showFirstLastButtons
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header w-100 d-flex justify-content-end">
        <button
          type="button"
          class="close btn btn-dark rounded"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Voulez-vous vraiment supprimer ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="toTrash()"
          data-dismiss="modal"
        >
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
