.body,.paginator
{
    background-color: #F0F2F4;
}
.page-title
{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lumanosimo', cursive;
}
.container
{
    min-height: 50vh;
    width: 75%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 2em;
}
.first-container
{
    width: 50%;
    display: flex;
    align-items: center;
    margin: 1em 0 0 1em;
    justify-content: space-around;
    button
    {
        width: 60%;
        padding: 1em;
        color:white;
        display: flex;
        cursor: pointer;
        border-radius: 5px;
        align-items: center;
        background-color: #002978;
        transition: 0.5s ease-in-out;
        justify-content: space-evenly;
    }
    button:hover
    {
        background-color: #033fb8;
    }
    .fa-trash
    {
        cursor: pointer;
    }
    .ajout
    {
        font-size: 14px;
        margin: 1%;
    }
}
.third-parent
{
    tr
    {
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }
    tr:hover
    {
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }
}
.checkbox
{
    width: 20%;
}
.table-responsive
{
    overflow-x: auto;
}
table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
td
{
    width: 30%;
}
.box
{
    display: block;
    width: 5%;
    border: 2px solid rgb(0, 115, 255);
    padding: 1.5em;
    border-radius: 5px;
    cursor: pointer;
}
@media screen {

}