.body,.paginator
{
    background-color: #F0F2F4;
}
.page-title
{
    margin: 1em 0;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Luckybones', sans-serif;
}
.my_container
{
    width: 80%;
    padding: 2em;
    min-height: 50vh;
}
.first-container
{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .add-category
    {
        min-width: 50%;
        padding: 1em;
        color:white;
        display: flex;
        cursor: pointer;
        border-radius: 5px;
        align-items: center;
        background-color: #002978;
        transition: 0.5s ease-in-out;
        justify-content: space-evenly;
    }
    .add-category:hover
    {
        background-color: #033fb8;
    }
    .fa-trash
    {
        cursor: pointer;
    }
    .ajout
    {
        font-size: 14px;
        margin: 1%;
    }
}
.third-parent
{
    tr
    {
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }
    tr:hover
    {
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }
}
.modif
{
    width: 50px;
    height: 50px;
}
.checkbox
{
    width: 20%;
}
.table-responsive
{
    overflow-x: auto;
}
table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
td
{
    width: 25%;
    margin: 0 1.5em;
}
.box
{
    display: block;
    width: 5%;
    border: 2px solid rgb(0, 115, 255);
    padding: 1.5em;
    border-radius: 5px;
    cursor: pointer;
}
.delete-button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    font-weight: 600;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #002978;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  }

  .delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
  }

  .delete-svgIcon path {
    fill: white;
  }

  .delete-button:hover {
    width: 90px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #002978;
  }

  .delete-button:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .delete-button::before {
    display: none;
    color: white;
    font-size: 2px;
    padding: 0 20px;
    text-align: center;
    content: "Supprimer";
    transition-duration: 0.3s;
  }

  .delete-button:hover::before {
    opacity: 1;
    display: block;
    font-size: 13px;
    padding-right: 20px;
    transition-duration: 0.3s;
    transform: translateY(0px);
  }

  @media screen and (max-width: 975px)
  {
    .first-container
    {
        width: 80%;
    }
  }
  @media screen and (max-width: 770px)
  {
    .my_container
    {
        width: 90%;
    }
    .first-container
    {
        width: 90%;
    }
  }
  @media screen and (max-width: 645px)
  {
    .my_container
    {
        width: 100%;
        padding: 1em;
    }
    .first-container
    {
        width: 90%;
    }
  }
  @media screen and (max-width: 520px)
  {
    .first-container
    {
        width: 100%;
    }
  }
  @media screen and (max-width: 460px)
  {
    .first-container
    {
        flex-direction: column;
        justify-content: space-between;
    }
    .add-category
    {
        margin-bottom: 1em;
        width: 55%;
    }
  }
  @media screen and (max-width: 430px)
  {
    .my_container
    {
        padding: 0.5em;
    }
    .add-category
    {
        width: 60%;
    }
  }
  @media screen and (max-width: 375px)
  {
    .add-category
    {
        width: 70%;
    }
  }
  @media screen and (max-width: 332px)
  {
    .add-category
    {
        width: 80%;
    }
  }
  @media screen and (max-width: 290px)
  {
    .add-category
    {
        width: 90%;
    }
  }