<section>
  <div class="box">
    <div class="square" style="--i: 0"></div>
    <div class="square" style="--i: 1"></div>
    <div class="square" style="--i: 2"></div>
    <div class="square" style="--i: 3"></div>
    <div class="square" style="--i: 4"></div>
    <div class="square" style="--i: 5"></div>
    <div class="container">
      <div class="form">
        <h2>Créer une boutique</h2>
        <form [formGroup]="shopCreation" (submit)="creation()">
          <div class="inputBx">
            <input type="text" formControlName="nom" />
            <span>Nom de votre boutique</span>
            <i class="fas fa-store"></i>
          </div>
          <div class="inputBx">
            <input type="text" formControlName="link" />
            <span>Lien de votre boutique</span>
            <i class="fas fa-user"></i>
          </div>
          <div class="inputBx">
            <input type="text" name="password" formControlName="adresse" />
            <span>Adresse de votre boutique</span>
            <i class="fas fa-user"></i>
          </div>
          <div class="inputBx">
            <label for="image">Choisir une image</label>
            <input id="image" class="input" type="file" name="upload" class="image" (change)="readUrl($event)"
              formControlName="image" hidden />
            <span>Image de votre boutique</span>
            <i class="fas fa-facebook"></i>
          </div>
          <div class="border border-dark my-5 p1 rounded shadow p-3 mb-5 w-50 mx-auto" *ngIf="url">
            <img src="{{url}}" width="100px" height="100px">
          </div>
          <div class="inputBx">
            <input type="button" class="submit" value="Annuler" (click)="retour()" />
            <input type="submit" value="Enregistrer" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>