<div class="background">
  <div class="card">
    <form [formGroup]="loginForm" (submit)="submitted()">
      <h1 class="title text-center">Connexion</h1>
      <div class="social-login">
        <button class="google-btn">
          <asl-google-signin-button class="google"></asl-google-signin-button>
          <p class="btn-text">Se connecter avec Google</p>
        </button>
      </div>

      <div class="email-login">
        <label for="email"> <b>Identifiant</b></label>
        <input
          type="email"
          formControlName="email"
          placeholder="Veuillez entrer votre identifiant"
        />
        <label for="psw"><b>Mot de Passe</b></label>
        <input
          type="password"
          formControlName="password"
          placeholder="Veuillez entrer votre mot de passe"
        />
      </div>
      <div class="footer">
        <div class="first-child">
          <p>Pas de compte ?</p>
          <p>
            <a class="account" routerLink="register"> Créez un compte ici</a>
          </p>
        </div>
        <div class="second-child">
          <a class="forgot-mdp" routerLink="reset">Mot de passe oublié ?</a>
        </div>
      </div>
      <input type="submit" class="cta-btn" value="Se Connecter" />
    </form>
  </div>
</div>
