@import '../../bases';

// z-index répétés
// box shadow répétés
// 758 Lignes au départ
// cursor pointer répétés
// border radius 50% répétés

%custom-scrollbar
{
  &::-webkit-scrollbar-button { height: 16px; }
  &::-webkit-scrollbar { @include dimensions(8px, 8px); }
  &::-webkit-scrollbar-thumb { border-radius: 99px; border: 1px solid black; background-color: white; }
}

.black-bg { background: #353535; }

.filterCategorie { width: 300px; }
.big-container { min-height: 100vh; background: #F0F2F4; }
.body { @include centering(); @include dimensions(100%, 100vh); }
.first-parent { @include dimensions(100%, 100%); @include centering(center, center, column); }

.search-box, .search-input, .search-btn, .overlay
{
  background: #353535;
}
.search-box, .search-input
{
  line-height:40px;
}
.search-box
{
  height: 60px;
  padding: 10px;
  margin-top: 3em;
  border-radius: 60px;
}
.search-input
{
  float: left;
  border: none;
  color: #fff;
  outline: none;
  font-size:14px;
  font-family:sans-serif;
  transition: 0.7s ease;
}
.vide
{
  img { max-width: 40%; }
  span { font-size: 1.5em; }
  @include centering(center, center, column);
}
.search-btn
{
  @include centering(center, center);
  padding: 12px;
  cursor: pointer;
  color: #ff5722;
  border-radius: 50%;
  text-decoration:none;
  transition: 0.4s ease;
}
.example-form { width: 60%; }
.search-input { width: 250px; margin: 0px 8px; }
.search-box:hover > .search-btn { background: #fff; }
.search-input:focus + .search-btn { background: #fff; }
.search-box:hover > .search-input { width: 300px; margin: 0px 8px; }
.header
{
  width: 100%;
  h1 { margin: 2em; }
  @include centering(space-evenly);
}
.container_custom
{
  margin: 5em 0;
  @include dimensions(100%, 100%);
  @include centering(space-evenly, flex-start, null, wrap);
  .card
  {
    padding: 0;
    border-radius: 20px;
    background-color: #c1d0e43e;
    box-shadow: 0 10px 15px rgba(0,0,100,0.05);
  }
  .product-card
  {
    margin: 1em;
    cursor: pointer;
    max-width: 140px;
    margin-bottom: 2.5em;
    border: 1px solid gray;
    transition: 0.5s ease-in-out;
    box-shadow: 0 10px 15px rgba(0, 0, 100, 0.2);
    .product-header
    {
      max-height: 70px;
      position: relative;
      @include centering(center, center);
    }
    .product-picture { margin-bottom: 4em; max-width: 70%; }
    .card-details
    {
      padding: 15px;
      border-radius: 20px;
      background-color: white;
      .product-name
      {
        margin: 0;
        font-size: 10pt;
        font-weight: 500;
      }
      .bottom-row
      {
        .price { margin: 0; font-size: 8pt; }
        @include centering(space-between, center);
        .add-cart
        {
          border: none;
          color: white;
          font-size:10pt;
          cursor: pointer;
          border-radius: 25px;
          @include dimensions(32px, 32px);
          background-image: linear-gradient(120deg, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
        }
      }
    }
  }
  .product-card:hover { animation: pulse 1500ms infinite ; }
}

/************************ Panier *******************************/
.overlay
{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
  transition: 0.5s ease-in-out;
  @include dimensions(100%, 100vh);
}
.second-parent
{
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  @include centering();
  background: #F0F2F4;
  @extend %custom-scrollbar;
  transition: 1s ease-in-out;
  @include dimensions(100%, 100%);
}
.hide_parent { right: -100%; }
.heading
{
  color: white;
  padding: 1.5em 0;
  border-radius: 320px;
  border: 1px solid black;
  h1
  {
    margin: 0;
    padding: 0;
    font-family: "Luckybones", "Helvetica Neue", sans-serif;
  }
  .fa-close
  {
    font-size: 1.5em;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    @include dimensions(50px, 50px);
    &:hover { color: black; background-color: #fff; }
  }
  .icon-table,.fa-close { cursor: pointer; }
  background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(0,41,120,1) 75%, rgba(0,212,255,1) 100%);
}
.section
{
  .checkout
  {
    width: 40%;
    .sous-total
    {
      border-radius: 16px;
      @include dimensions(80%, 200px);
      h2, h3 { font-family: "Luckybones", "Helvetica Neue", sans-serif; }
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    .commande
    {
      width: 80%;
      color: #fff;
      padding: 1em 2em;
      font-weight: bold;
      border-radius: 320px;
      background: #002978;
    }
  }
  .bucket
  {
    width: 60%;
    overflow-y: auto;
    @extend %custom-scrollbar;
    border-right: 2px solid black;
  }
}
.p-middle { height: 82%; @include centering(center, center); }
.myCard { @include dimensions(100%, 100%); @include centering(null, center, column); }
.myCard-header
{
  .fas { cursor: pointer; }
  @include dimensions(100%, 10%);
  border-bottom: 1px dotted gray;
  @include centering(center, center);
}
.closeAll { width: 10%; text-align: end; }
.produit,.closeAll { width: 80%; margin: 0!important; }
.myCard-content
{
  overflow: auto;
  position: relative;
  @extend %custom-scrollbar;
  @include dimensions(100%, 79%);
  @include centering(null, null, column);
}
.myCard-empty
{
  span
  {
    padding: 1em;
    border-radius: 50% ;
    background-color: #0053f983;
  }
  .fas
  {
    font-size: 3em;
    padding: 0.5em;
    color:#5990ff86;
    border-radius: 50% ;
    background-color: #002978;
  }
}
.myCard-footer { @include dimensions(90%, 10%); @include centering(space-between, center); }
.p-footer
{
  height: 10%;
  margin: 2em 0;
  @include centering(space-evenly, center);
}
.payment,.paiement-title
{
  color:white;
  cursor: pointer;
  border-radius: 30px;
  background: #002978;
  @include dimensions(50%, 90%);
  @include centering(center, center);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .payment-title { color:white; font-size: 1.5em; }
}
.close_paiement
{
  @include dimensions(100%, 10%);
  @include centering(flex-end);
  .paiement-title
  {
    color: #002978;
    background: none;
    font-size: 1.3em;
    box-shadow: none;
    border-radius: 50%;
    @include dimensions(50px, 50px);
  }
}
.popup-container
{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  @include dimensions(100%, 100%);
  @include centering(null, center);
  transition: all 0.3s ease-in-out;
  background-color: rgba(21, 17, 17, 0.61);
}
.popup-content,.popup-content-receive
{
  margin: auto;
  z-index: 999;
  padding: 20px;
  @include dimensions(90%, 90%);
  border: 1px solid #888;
  background-color: #fefefe;
}
.first-popup,.second-popup
{
  position: absolute;
  @include dimensions(100%, 100%);
  transition: all 0.3s ease-in-out;
}
.hidden,.cache { z-index: -9999999999999999999!important; opacity: 0; }

/***** Debut Popup Reçu *****/

.first-line,.third-line { min-height: 15%; }
.first-line { &, .child { @include centering(center, center); } .child { flex-direction: column; } }
.popup-content-receive { @include dimensions(50%, 0, 0, 95%); @include centering(space-evenly, null, column); }
.second-line
{
  min-height: 65%;
  @include centering(space-evenly, null, column);
  .first-child
  {
    min-height: 80%;
    .the_header
    {
      min-height: 10%;
      border-bottom: 1px solid black;
      @include centering(space-around, center);
    }
    .the_main
    {
      height: 90%;
      overflow: auto;
      h3 { width: 30%; text-align: center; }
      @include centering(null, null, column);
      .child_o_the_main
      {
        width: 100%;
        margin: 1em 0;
        @include centering(space-around, center);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .second-child
  {
    min-height: 15%;
    @include centering(space-around, center);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.third-line
{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  div { h3 { width: 50%; text-align: center; } @include centering(space-evenly, center); }
}

.modal#statusSuccessModal .modal-content, .modal#statusErrorsModal .modal-content { border-radius: 30px; }
.modal#statusSuccessModal .modal-content svg, .modal#statusErrorsModal .modal-content svg
{
	width: 100px;
	display: block;
	margin: 0 auto;
}
.modal#statusSuccessModal .modal-content .path,
.modal#statusErrorsModal .modal-content .path { stroke-dasharray: 1000; stroke-dashoffset: 0; }

.modal#statusSuccessModal .modal-content .path.circle,
.modal#statusErrorsModal .modal-content .path.circle { -webkit-animation: dash 0.9s ease-in-out; animation: dash 0.9s ease-in-out; }

.modal#statusSuccessModal .modal-content .path.line,
.modal#statusErrorsModal .modal-content .path.line
{
	stroke-dashoffset: 1000;
	animation: dash 0.95s 0.35s ease-in-out forwards;
	-webkit-animation: dash 0.95s 0.35s ease-in-out forwards;
}

.modal#statusSuccessModal .modal-content .path.check,
.modal#statusErrorsModal .modal-content .path.check
{
	stroke-dashoffset: -100;
	animation: dash-check 0.95s 0.35s ease-in-out forwards;
	-webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes dash { 0% { stroke-dashoffset: 1000; } 100% { stroke-dashoffset: 0; } }
@-webkit-keyframes dash { 0% { stroke-dashoffset: 1000; } 100% { stroke-dashoffset: 0; } }
@keyframes dash-check { 0% { stroke-dashoffset: -100; } 100% { stroke-dashoffset: 900; } }
@-webkit-keyframes dash-check { 0% { stroke-dashoffset: -100; } 100% { stroke-dashoffset: 900; } }
@keyframes pulse { 0% { box-shadow: 0 0 0 0 rgba(0, 0, 100, 0.5); } 100% { box-shadow: 0 0 0 10px #fbb32f01; } }

@media screen and (max-width: 330px) { .first-parent { margin: 5em 0; } }
@media screen and (max-width: 635px) { .search-div { flex-direction: column; align-items: center; } }
@media screen and (max-width: 600px)
{
  .bucket { width: 100% !important; }
  .checkout { width: 100% !important; }
  .section { flex-direction: column; align-items: center; }
  .sous-total { height: 100px !important; margin: 1em 0 !important; }
}
@media screen and (max-width: 768px) { .sous-total, .commande { width: 90%!important; } .section { margin-left: 0.5em!important; margin-right: 0.5em!important; } }

.modalll
{
  position: fixed;
  top: 0;
  left: 0;
  @include dimensions(100%, 100vh);
  background: rgba(#0f172a, 0.8);
  transition: opacity 0.2s ease-out;
  z-index: 9999999999999999999999999;
}
.modall
{
  overflow-y: auto;
  border-radius: 26px;
  background: #FFFFFF;
  @include dimensions(fit-content, 85%, 0, 85%, 450px);
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.forme, .payment--options { gap: 20px; }
.forme
{
  padding: 20px;
  @include centering(null, null, column);
}
.payment--options
{
  width: 100%;
  padding: 10px;
  @include centering(center, center);
  & button
  {
    border: 0;
    padding: 0;
    outline: none;
    border-radius: 11px;
    background: #F2F2F2;
    @include dimensions(40%, 55px);
  }
}
.payment--options button svg { height: 18px; }
.payment--options button:last-child svg { height: 22px; }
.separator
{
  gap: 10px;
  display: grid;
  margin: 0 10px;
  color: #8B8E98;
  width: calc(100% - 20px);
  grid-template-columns: 1fr 2fr 1fr;
}
.separator > p
{
  margin: auto;
  display: block;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  word-break: keep-all;
}
.separator .line
{
  display: inline-block;
  border: 0;
  margin: auto;
  background-color: #e8e8e8;
  @include dimensions(100%, 1px);
}
.credit-card-info--form { gap: 15px; @include centering(null, null, column); }
.input_container
{
  gap: 5px;
  @include dimensions(100%, fit-content);
  @include centering(null, null, column);
}
.split
{
  gap: 15px;
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.split input { width: 100%; }
.input_label
{
  font-size: 10px;
  color: #8B8E98;
  font-weight: 600;
}
.input_field
{
  width: auto;
  height: 40px;
  outline: none;
  border-radius: 9px;
  padding: 0 0 0 16px;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.input_field:focus
{
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #242424;
}
.purchase--btn
{
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
