<div class="body">
  <div class="first-parent">
    <div class="header">
      <mat-form-field class="example-form">
        <mat-label>Tous les produits</mat-label>
        <mat-select class="example-select">
          <mat-option value="one">Tous les produits</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- ========== Produits ========== -->
    <div class="container">
      <div class="product-card card" *ngFor="let produit of mesProduits">
        <div class="product-header" (click)="panier(produit)">
          <img
            class="product-picture"
            src="{{ 'data:image/png;base64,' + produit.image }}"
          />
        </div>
        <div class="card-details" (click)="panier(produit)">
          <h3 class="product-name">{{ produit.nom }}</h3>
          <div class="bottom-row">
            <p class="price">{{ produit.prix }} FCFA</p>
            <button class="add-cart"><i class="fas fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========== Panier ========== -->
  <div class="second-parent">
    <div class="p-header">
      <span><i class="fas fa-user-plus"></i></span>
      <mat-form-field class="example-form">
        <mat-label>Chercher un Client</mat-label>
        <mat-select class="example-select">
          <mat-option value="one">Rawane</mat-option>
        </mat-select>
      </mat-form-field>
      <span><i class="fas fa-sign-out" (click)="logout()"></i></span>
    </div>
    <div class="p-middle">
      <div class="myCard">
        <div class="myCard-header">
          <span>Produit</span>
          <span>Quantité</span>
          <span>Prix</span>
          <span (click)="closeAll()"><i class="fas fa-trash"></i></span>
        </div>
        <!-- ========== Si le panier est vide, on obtient ce résultat ========== -->
        <div class="myCard-empty" *ngIf="monPanier === []">
          <span>
            <i class="fas fa-shopping-cart"></i>
          </span>
        </div>
        <div class="myCard-content">
          <!-- ========== Dans le cas contraire, on applique ce résultat ========== -->
          <app-panier *ngFor="let elus of monPanier" [selected]="elus">
          </app-panier>
        </div>
        <div class="myCard-footer">
          <span>Sous-Total</span>
          <span>{{ monTotal }} FCFA</span>
        </div>
      </div>
    </div>
    <div class="p-footer">
      <div class="payment">
        <span class="payment-title">Valider la commande</span>
      </div>
    </div>
  </div>
</div>
