/************************ Produits *******************************/
.big-container
{
  min-height: 100vh;
  background: #F0F2F4;
}
.body
{
  width: 100%;
  display: flex;
  height: 100vh;
}
.filterCategorie
{
  width: 300px;
}
.first-parent
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search-box
{
  margin-top: 3em;
  height: 60px;
  background: #353535;
  line-height:40px;
  padding: 10px;
  border-radius: 60px;
}
.search-input
{
  background: #353535;
  color: #fff;
  outline: none;
  border: none;
  line-height:40px;
  float: left;
  font-size:14px;
  transition: 0.7s ease;
  font-family:sans-serif;
}
.vide
{
  margin: 0 5em 15em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img
  {
    max-width: 40%;
  }
  span
  {
    font-size: 1.5em;
  }
}
.search-btn
{
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  background: #353535;
  padding: 12px;
  border-radius: 50%;
  color: #ff5722;
  transition: 0.4s ease;
  cursor: pointer;
}
.search-box:hover > .search-input
{
  width: 300px;
  margin: 0px 8px;
}
.search-input
{
  width: 250px;
  margin: 0px 8px;
}
.search-box:hover > .search-btn
{
  background: #fff;
}
.search-input:focus + .search-btn
{
  background: #fff;
}
.example-form
{
  width: 60%;
}
.header
{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  h1
  {
    margin: 2em;
  }
}
.container_custom
{
  width: 100%;
  height: 100%;
  margin: 5em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  .card
  {
    padding: 0;
    border-radius: 20px;
    background-color: #c1d0e43e;
    box-shadow: 0 10px 15px rgba(0,0,100,0.05);
  }
  .product-card
  {
    max-width: 140px;
    margin: 1em;
    margin-bottom: 2.5em;
    cursor: pointer;
    border: 1px solid gray;
    transition: 0.5s ease-in-out;
    box-shadow: 0 10px 15px rgba(0, 0, 100, 0.2);
    .product-header
    {
      max-height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .product-picture
    {
      margin-bottom: 4em;
      max-width: 70%;
    }
    .card-details
    {
      background-color: white;
      border-radius: 20px;
      padding: 15px;
      .product-name
      {
        font-weight: 500;
        font-size: 10pt;
        margin: 0;
      }
      .bottom-row
      {
        display: flex;
        align-items:center;
        justify-content: space-between;
        .price
        {
          margin: 0;
          font-size: 8pt;
        }
        .add-cart
        {
          width: 32px;
          height: 32px;
          border: none;
          color: white;
          font-size:10pt;
          cursor: pointer;
          border-radius: 25px;
          background-image: linear-gradient(120deg, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
        }
      }
    }
  }
  @keyframes pulse
  {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 100, 0.5);
    }
    100% {
      box-shadow: 0 0 0 10px #fbb32f01;
    }
  }
  .product-card:hover
  {
	  animation: pulse 1500ms infinite ;
  }
}

@media(min-width : 180px) and (max-width : 650px)
{
  .container_custom
  {
    width: 100%;
    .product-card
    {
      max-width: 30%;
      margin: 5px;
      .product-header
      {
        max-height: 100px;
        .product-picture
        {
          position: relative;
          top: -50px;
          height: 150px;
          width: 150px;
          left: calc(50% - 75px);
        }
      }
      .card-details
      {
        .product-name
        {
          font-size: 11pt;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1; /* number of lines to show */
                  line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .stars
        {
          color: #ffd145;
          margin: 5px 0 15px 0;
          font-size: 7pt;
        }
        .bottom-row
        {
          .price
          {
            font-size: 10pt;
          }
        }
      }
    }
  }
}
/************************ Panier *******************************/
.second-parent
{
  width: 45%;
  z-index: 999;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background: #F0F2F4;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease-in-out;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.hide_parent
{
  right: -100%;
}
.p-middle
{
  height: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myCard
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.myCard-header
{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px dotted gray;
  .fas
  {
    cursor: pointer;
  }
}
.myCard-content
{
  width: 100%;
  height: 79%;
  display: flex;
  overflow: auto;
  position: relative;
  flex-direction: column;
}
.myCard-empty
{
  span
  {
    padding: 1em;
    border-radius: 50% ;
    background-color: #0053f983;
  }
  .fas
  {
    font-size: 3em;
    padding: 0.5em;
    color:#5990ff86;
    border-radius: 50% ;
    background-color: #002978;
  }
}
.myCard-footer
{
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-footer
{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.payment
{
  width: 10%;
  height: 90%;
  color:white;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: #002978;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  .payment-title
  {
    font-size: 1.5em;
  }
}

.popup-container
{
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: rgba(21, 17, 17, 0.61);

}
.popup-content,.popup-content-receive
{
  width: 90%;
  height: 90%;
  margin: auto;
  z-index: 999;
  padding: 20px;
  border: 1px solid #888;
  background-color: #fefefe;
}
.first-popup,.second-popup
{
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.hidden,.cache
{
  z-index: -999;
  opacity: 0;
}
/***** Debut Popup Reçu *****/
.popup-content-receive
{
  width: 50%;
  display: flex;
  min-height: 95%;
  flex-direction: column;
  justify-content: space-evenly;
}
.first-line,.third-line
{
  min-height: 15%;
}
.first-line
{
  display: flex;
  align-items: center;
  justify-content: center;
  .child
  {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.second-line
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 65%;
  .first-child
  {
    min-height: 80%;
    .the_header
    {
      display: flex;
      min-height: 10%;
      align-items: center;
      justify-content: space-around;
      border-bottom: 1px solid black;
    }
    .the_main
    {
      height: 90%;
      display: flex;
      overflow: auto;
      flex-direction: column;
      .child_o_the_main
      {
        width: 100%;
        display: flex;
        margin: 1em 0;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      h3
      {
        width: 30%;
        text-align: center;
      }
    }
  }
  .second-child
  {
    display: flex;
    min-height: 15%;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.third-line
{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  div
  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    h3
    {
      width: 50%;
      text-align: center;
    }
  }
}
/***** Fin Popup Reçu *****/
.close
{
  .fas
  {
    float: right;
    font-size: 2em;
    cursor: pointer;
  }
}
.popup
{
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  h1
  {
    text-align: center;
  }
}
.popup-div-1
{
  width: 25%;
  height: 10%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.popup-div-2
{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  p
  {
    height: 100%;
    display: flex;
    padding: 0 2em;
    align-items: center;
    border: 2px solid #029319;
    background-color:  #44e15e7b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.form
{
  width: 60%;
  height: 60%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  form
  {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .example-full-width
    {
      text-align: center;
      width: 60%;
    }
  }
  .reste
  {
    height: 15%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  }
}
.boutons
{
  height: 10%;
  margin: 1em 0;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  p
  {
    height: 100%;
    display: flex;
    padding: 0 2em;
    align-items: center;
    border: 1px solid #0056FD;
    justify-content: space-evenly;
    background-color:  #0054fd62;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  p:hover
  {
    animation: pulse 1000ms infinite ;
  }
}

@keyframes pulse
{
  0% {
    box-shadow: 0 0 0 0 rgba(0, 86, 253, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px #fbb32f01;
  }
}

.propositions
{
  width: 100%;
  margin: 4em 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  div
  {
    padding: 1.5em;
    cursor: pointer;
    border: 2px solid #0056FD;
    background-color:  #0054fd62;
  }
  div:hover
  {
    animation: pulse 1000ms infinite ;
  }
}

.modal#statusSuccessModal .modal-content,
.modal#statusErrorsModal .modal-content {
	border-radius: 30px;
}
.modal#statusSuccessModal .modal-content svg,
.modal#statusErrorsModal .modal-content svg {
	width: 100px;
	display: block;
	margin: 0 auto;
}
.modal#statusSuccessModal .modal-content .path,
.modal#statusErrorsModal .modal-content .path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
}
.modal#statusSuccessModal .modal-content .path.circle,
.modal#statusErrorsModal .modal-content .path.circle {
	-webkit-animation: dash 0.9s ease-in-out;
	animation: dash 0.9s ease-in-out;
}
.modal#statusSuccessModal .modal-content .path.line,
.modal#statusErrorsModal .modal-content .path.line {
	stroke-dashoffset: 1000;
	-webkit-animation: dash 0.95s 0.35s ease-in-out forwards;
	animation: dash 0.95s 0.35s ease-in-out forwards;
}
.modal#statusSuccessModal .modal-content .path.check,
.modal#statusErrorsModal .modal-content .path.check {
	stroke-dashoffset: -100;
	-webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards;
	animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@keyframes fadeIn
{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100%{
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash {
	0% {
		stroke-dashoffset: 1000;}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}