h1
{
  text-align: center;
  margin: 2em 0;
}
.table-responsive
{
  width: 100%;
  overflow-x: auto;
}
table
{
  width: 90%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: separate;
}
tbody tr:nth-child(odd)
{
  background-color: #ECE9E9;
}
th, td
{
  padding: 0.75rem;
  font-size: 0.9375rem;
  text-align: center;
}
th
{
  font-weight: 700;
  text-align: center;
  color: #272838;
  border-bottom: 2px solid #EB9486;
  position: sticky;
  top: 0;
  background-color: #F9F8F8;
}
td
{
  color: #7E7F9A;
}
.action
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  .fas
  {
    width: 30px;
    height: 30px;
    padding: 1em;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
  }
  .fas:hover
  {
    background: #272838;
    color: #fff;
  }
}
body
{
  padding: 6rem 2rem;
  background-color: #F9F8F8;
}
@media screen and (max-width: 768px)
{
  table
  {
    width: 100%;
  }
}
@media screen and (max-width: 660px)
{
  th, td
  {
    padding: 1em 2em;
  }
}