<form [formGroup]="ajouterProduit" (submit)="submit()">
  <div class="body">
    <div class="first-section">
      <h1>Description du Produit</h1>
      <div class="container1">
        <mat-form-field class="example-input">
          <mat-label>Nom du produit</mat-label>
          <input matInput placeholder="Ex. Chocolat" formControlName="nom" />
        </mat-form-field>
        <mat-form-field class="example-input">
          <mat-label>Catégorie</mat-label>
          <mat-select formControlName="categorie">
            <mat-option
              *ngFor="let categorie of mesCategories"
              value="{{ categorie.id }}"
            >
              {{ categorie.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-input">
          <mat-label>Prix</mat-label>
          <input matInput placeholder="Ex. Nourriture" formControlName="prix" />
        </mat-form-field>
        <mat-form-field class="example-input">
          <mat-label>Coût</mat-label>
          <input matInput placeholder="Ex. Nourriture" formControlName="cout" />
        </mat-form-field>
        <mat-form-field class="example-input">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Ex. Cette partie est reservée à la nourriture..."
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
      <h1>Inventaire</h1>
      <div class="container1">
        <mat-form-field class="example-input">
          <mat-label>Produit Composé</mat-label>
          <mat-select formControlName="compose">
            <mat-option value="true"> Oui </mat-option>
            <mat-option value="false"> Non </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-input">
          <mat-label>SKU</mat-label>
          <input matInput placeholder="Ex. AX1E4GNG978" formControlName="SKU" />
        </mat-form-field>
        <mat-form-field class="example-input">
          <mat-label>Produit en Stock</mat-label>
          <input
            matInput
            placeholder="Ex. 10"
            formControlName="quantiteEnStock"
          />
        </mat-form-field>
        <mat-form-field class="example-input">
          <mat-label>Stock faible</mat-label>
          <input matInput placeholder="Ex. 5" formControlName="limite" />
        </mat-form-field>
      </div>
    </div>
    <div class="second-section">
      <div class="container2">
        <h1>Illustration du produit</h1>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Représentation par Couleur </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-radio-group
              aria-label="Select an option"
              class="radio-group"
              formControlName="couleur"
            >
              <div class="parent">
                <mat-radio-button value="blue" class="radio">
                  <div class="box"></div>
                </mat-radio-button>
              </div>
              <div class="parent">
                <mat-radio-button value="red" class="radio">
                  <div class="box red"></div>
                </mat-radio-button>
              </div>
              <div class="parent">
                <mat-radio-button value="green" class="radio">
                  <div class="box green"></div>
                </mat-radio-button>
              </div>
              <div class="parent">
                <mat-radio-button value="purple" class="radio">
                  <div class="box purple"></div>
                </mat-radio-button>
              </div>
              <div class="parent">
                <mat-radio-button value="black" class="radio">
                  <div class="box black"></div>
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="accordion">
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Représentation par Image </mat-panel-title>
            </mat-expansion-panel-header>
            <label for="image" class="input-file">
              <i class="fas fa-upload"></i>
              <p>Importer une image</p>
            </label>
            <input
              id="image"
              class="input"
              type="file"
              name="upload"
              class="image"
              (change)="readUrl($event)"
            />
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="final-boutons">
    <button>Annuler</button>
    <button class="valider">Enregistrer</button>
  </div>
</form>
