form
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.info-icon
{
    cursor: pointer;
}
.body
{
    width: 100%;
    margin: 2em 0 0 0;
    display: flex;
    justify-content: flex-end;
}
.first-section
{
    width: 40%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.second-section
{
    max-height: 80vh;
    width: 50%;
    display: flex;
    justify-content: center;
}
.container1
{
    min-height: 20vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
h1
{
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    font-weight: bold;
}
.container2
{
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 90%;
    text-align: center;
}
.example-input
{
    width: 45%;
}
.box
{
    background: rgb(0, 115, 255);
    padding: 2em;
    border-radius: 5px;
    cursor: pointer;
}
.download
{
    text-align: center;
    cursor:pointer;
    border: none;
    background: none;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.fa-download
{
    font-size: 5em;
}
.radio-group
{
    margin: 3em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.parent
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}
.final-boutons
{
    margin: 2em 0 0 50%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    button
    {
        cursor:pointer;
        border: none;
        background: none;
        padding: 1em 3em;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        font-size: 15px;
    }
    .valider
    {
        background: #002978;
        color:white;
    }
}
.accordion
{
    .panel-title
    {
        display: flex;
        justify-content: center;
    }
    label
    {
        cursor: pointer;
    }
    .fas
    {
        font-size: 3em;
    }
    input[type=file]
    {
        display: none;
    }
}
h1
{
    text-align: center;
}
.green
{
    background-color:greenyellow;
}
.red
{
    background-color:red;

}
.purple
{
    background-color:purple;

}
.black
{
    background-color:black;

}