form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.import
{
    padding: 1em;
    border-radius: 10px;
    border: 2px dotted black;
}
.info-icon
{
    cursor: pointer;
}
.body
{
    width: 100%;
    display: flex;
    margin: 2em 0 0 0;
    justify-content: flex-end;
}
.first-section
{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.second-section
{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.container1
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 20vh;
    border-radius: 14px;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1
{
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Luckybones";
}
.container2
{
    width: 90%;
    height: 100%;
    text-align: center;
    border-radius: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.example-input
{
    width: 50%;
}
.box
{
    padding: 2em;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(0, 115, 255);
}
.download
{
    text-align: center;
    cursor:pointer;
    border: none;
    background: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.fa-download
{
    font-size: 5em;
}
.radio-group
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.parent
{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.final-boutons
{
    width: 50%;
    display: flex;
    margin: 3em 2em;
    justify-content: space-evenly;
    button
    {
        cursor:pointer;
        border: none;
        background: none;
        padding: 1em 3em;
        font-size: 15px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .valider
    {
        background: #002978;
        color:white;
    }
}
.accordion
{
    height: 50%;
    .panel-title
    {
        display: flex;
        justify-content: center;
    }
    label
    {
        cursor: pointer;
    }
    .fa-solid
    {
        font-size: 3em;
    }
    input[type=file]
    {
        display: none;
    }
}
h1
{
    text-align: center;
}
.green
{
    background-color:greenyellow;
}
.red
{
    background-color:red;

}
.purple
{
    background-color:purple;

}
.black
{
    background-color:black;

}
@media screen and (max-width: 900px)
{
    .first-section, .second-section
    {
        width: 80%;
    }
    .body
    {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .container2
    {
        margin: 5em 0;
        h1
        {
            margin: 2em 0;
        }
    }
    .parent
    {
        margin: 1em 0;
    }
}
@media screen and (max-width: 585px)
{
    .first-section, .second-section, .final-boutons, .container2, .example-input
    {
        width: 100%;
    }
}