<div class="container-fluid">
  <div class="body">
    <div class="profile-card">
      <div class="top-section">
        <i class="message fas fa-repeat"></i>
        <i class="notif fas fa-sign-out"></i>
        <div class="pic">
          <img
            src="https://fadzrinmadu.github.io/hosted-assets/awesome-profile-card-using-only-html-and-css/pic.png"
            alt="picture"
          />
        </div>
        <div class="name">{{ currentSeller?.nomComplet | titlecase }}</div>
        <div class="name">Téléphone : {{ currentSeller?.telephone }}</div>
        <div class="name">
          Adresse : {{ currentSeller?.adresse | titlecase }}
        </div>
      </div>
      <div class="bottom-section">
        <div class="social-media">
          <a routerLink="addShop"><i class="fas fa-store"></i></a>
          <a routerLink="addCashier"><i class="fas fa-person"></i></a>
        </div>
        <div class="videos">
          <span>Ajouter une boutique</span>
          <span>Ajouter un opérateur</span>
        </div>
      </div>
    </div>
  </div>

  <div class="boutique">
    <h1>Mes Boutiques</h1>
    <div class="cards">
      <div class="card" *ngFor="let boutique of shops">
        <img
          src="{{ 'data:image/png;base64,' + boutique?.imageBoutique }}"
          class="card-img-top"
          alt="Fissure in Sandstone"
        />
        <div class="card-body">
          <h2 class="card-title">{{ boutique?.nomBoutique }}</h2>
          <p class="card-text">
            {{ boutique?.adresse }}
          </p>
          <p class="card-text">
            {{ boutique?.lienBoutique }}
          </p>
          <a (click)="switch(boutique)" class="btn btn-outline-light"
            >Choisir cette boutique</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
