@import "../../bases";

%content
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-sizing: border-box;
}

.tag { font-size: 18px; color: #222; }
.videos { @include centering(space-evenly); }
.bottom-section span { font-size: 14px; display: block; }
.name, .bottom-section, .social-media i { font-size: 20px; }
@keyframes wave { to { transform: scale(1.5); opacity: 0; } }
.top-section { padding: 60px 40px; background: #2c2c54aa; }
.boutique .card, .bottom-section { @include centering(center, center); }
.contayner-fluid, .boutique { @include centering(space-evenly, center, column); }

.contayner-fluid
{
  margin: 0 auto;
  @include dimensions(100%, 0, 0, 100vh);
  background: radial-gradient(at bottom right, #adbbc8, #4b6074);
}
.body
{
  height: 60%;
  margin: 5em 0;
  display: flex;
}
.profile-card
{
  width: 420px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000070;
}
.pic
{
  margin: auto;
  padding: 8px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  @include dimensions(150px, 150px);
  &::after
  {
    @extend %content;
    border: 1px solid #fff;
    animation: wave 1.5s infinite linear;
  }
  &::after, & img { @include dimensions(100%, 100%); }
}
.name
{
  margin: 1em 0;
  color: #f1f1f1;
  @include centering(space-between, center);
}
.bottom-section
{
  padding: 60px 40px;
  background: #f1f1f1;
  text-transform: uppercase;
}
.border
{
  margin: 0 30px;
  background: #bbb;
  @include dimensions(1px, 20px);
}
.social-media {
  left: 0;
  top: -30px;
  z-index: 1;
  @include centering(space-around);
  & i
  {
    margin: 0 10px;
    color: #f1f1f1;
    line-height: 60px;
    @include dimensions(60px, 60px);
    &::after
    {
      z-index: -1;
      @extend %content;
      transition: 0.5s linear;
      @include dimensions(100%, 100%);
    }
    &, &::after { background: #2c3e50; }
    &:hover::after { transform: scale(1.4); opacity: 0; }
  }
}

@media screen and (max-width: 425px) { .body, .profile-card { width: 100%; } .top-section { padding: 60px 20px; } }
@media screen and (max-width: 300px) { .text-decoration-underline { display: none; } td { width: 100%; } }