<app-spinner *ngIf="spin"></app-spinner>
<app-header></app-header>
<div class="conteneur">
  <div class="A">
    <div class="a d-flex justify-content-evenly align-items-center">
      <i class="fas fa-money-bill-wave"></i>
      <div
        class="a-1 d-flex flex-column justify-content-between align-items-center"
      >
        <h3>Ventes Totales</h3>
        <span>{{ totalVente }} CFA</span>
      </div>
    </div>
    <div class="a d-flex justify-content-evenly align-items-center">
      <i class="fas fa-wallet"></i>
      <div
        class="a-1 d-flex flex-column justify-content-between align-items-center"
      >
        <h3>Marge totale</h3>
        <span>{{ totalVente - totalCout }} FCFA</span>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="responsive-table">
      <!-- Date Picker -->
      <h1 class="text-center">Mes Ventes</h1>
      <form class="date" [formGroup]="form" (submit)="filterByDate()">
        <mat-form-field class="example-full-width">
          <mat-label>Date de Début</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            class="input"
            formControlName="start"
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker" class="icon">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Date de Fin</mat-label>
          <input
            matInput
            [matDatepicker]="pickerr"
            class="input"
            formControlName="end"
          />
          <mat-datepicker-toggle matIconSuffix [for]="pickerr" class="icon">
          </mat-datepicker-toggle>
          <mat-datepicker #pickerr></mat-datepicker>
        </mat-form-field>

        <input type="submit" class="filtre mat-elevation-z4" value="Filtrer" />
      </form>

      <div class="date-filters">
        <div
          class="example-ripple-container mat-elevation-z4"
          matRipple
          (click)="filtering('week')"
        >
          Aujourd'hui
        </div>
        <div
          class="example-ripple-container mat-elevation-z4"
          matRipple
          (click)="filtering('week')"
        >
          Cette Semaine
        </div>
        <div
          class="example-ripple-container mat-elevation-z4"
          matRipple
          (click)="filtering('month')"
        >
          Ce Mois
        </div>
        <div
          class="example-ripple-container mat-elevation-z4"
          matRipple
          (click)="filtering('year')"
        >
          Cette année
        </div>
      </div>
      <li class="table-header">
        <div class="col col-2">Date</div>
        <div class="col col-2">Ventes</div>
        <div class="col col-4">Coûts</div>
        <div class="col col-5">Marge</div>
      </li>
      <li
        class="table-row"
        *ngFor="let vente of pageSlice | filter : filtreDate"
      >
        <div class="col col-2">{{ vente.date | date : "fullDate" }}</div>
        <div class="col col-2">{{ vente.vente }} FCFA</div>
        <div class="col col-4">{{ vente.cout }} FCFA</div>
        <div class="col col-5">{{ vente.vente - vente.cout }} FCFA</div>
      </li>
    </ul>
    <mat-paginator
      class="paginator"
      [length]="taillePage"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 50]"
      showFirstLastButtons
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
