<div class="container">
  <h2>Récapitulatif des ventes</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Date</div>
      <div class="col col-2">Ventes Brutes</div>
      <div class="col col-3">Remboursements</div>
      <div class="col col-4">Coût de la marchandise</div>
      <div class="col col-5">Marge</div>
    </li>
    <li class="table-row">
      <div class="col col-1">10 Juillet 1999</div>
      <div class="col col-2">2000 FCFA</div>
      <div class="col col-3">500 FCFA</div>
      <div class="col col-4">3000 FCFA</div>
      <div class="col col-5">1000 FCFA</div>
    </li>
    <li class="table-row">
      <div class="col col-1">10 Juillet 1999</div>
      <div class="col col-2">2000 FCFA</div>
      <div class="col col-3">500 FCFA</div>
      <div class="col col-4">3000 FCFA</div>
      <div class="col col-5">1000 FCFA</div>
    </li>
    <li class="table-row">
      <div class="col col-1">10 Juillet 1999</div>
      <div class="col col-2">2000 FCFA</div>
      <div class="col col-3">500 FCFA</div>
      <div class="col col-4">3000 FCFA</div>
      <div class="col col-5">1000 FCFA</div>
    </li>
  </ul>
</div>
