  * { margin: 0; padding: 0; }
  body { font-family: 'lato', sans-serif; }
  table
  {
    width: 100%;
    text-align: center;
    th { text-align: center; }
  }
  .date
  {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
  }
  .example-full-width
  {
    width: 30%;
    padding: 0;
    mat-label { display: inline; }
    background-color: #F0F2F4!important;
    .input { display: inline; width: 50%; }
    .icon { float: right; display: inline; }
  }
  .example-ripple-container,.filtre
  {
    width: 20%;
    cursor: pointer;
    line-height: 50px;
    user-select: none;
    text-align: center;
  }
  .filtre
  {
    width: 15%;
    border: none;
    border-radius: 320px;
  }
  .date-filters
  {
    display:flex;
    padding: 2em 0;
    justify-content: space-evenly;
  }
  .conteneur
  {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #F0F2F4;
    justify-content: space-evenly;
  }
  .A
  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 50%;
    align-items: center;
    justify-content: space-evenly;
    .a
    {
      height: 180px;
      color:#002978;
      min-width: 300px;
      text-align: center;
      border-radius: 16px;
      .a-1 { span { font-size: 2em; } }
      box-shadow: 0 10px 15px rgba(0,0,100,0.3);
      .fas { font-size: 3em; margin-bottom: 30px; }
    }
  }
  .A,.container { margin: 3.5em 0; }
  .container
  {
    height: 50%;
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2 { font-size: 26px; text-align: center; }
  .responsive-table
  {
    .col { flex-basis: 25%; }
    li
    {
      display: flex;
      border-radius: 3px;
      padding: 25px 30px;
      margin-bottom: 25px;
      justify-content: space-between;
    }
    .table-header
    {
      color:white;
      display: flex;
      font-size: 14px;
      text-align: center;
      align-items: center;
      border-radius: 12px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      background-color: #002978;
    }
    .table-row
    {
      text-align: center;
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
  }
  .paginator { background-color: #F0F2F4; }
  .date-filters div
  {
    border-radius: 320px;
    transition: 0.2s ease-in-out;
    &:hover { background-color: #6C7A89; color: white; }
  }
  @media screen and (max-width: 590px)
  {
    .container { padding: 0; }
    .date-filters { margin: 2em 0; }
    .example-full-width, .filtre { width: 60%; }
    .responsive-table { li { padding: 25px 0; } }
    .table-row, .table-header { overflow-x: auto; }
    .example-ripple-container { margin: 1em 0; width: 40%;}
    .date, .date-filters { flex-direction: column; align-items: center; }
  }
  @media screen and (max-width: 300px) { .A { .a { min-width: 100%; } } }
  @media screen and (max-width: 355px) { .example-ripple-container { width: 80%; } .example-full-width, .filtre { width: 80%; } }
  @media screen and (max-width: 522px) { .responsive-table { .table-header { border-radius: 0; } .col { flex-basis: 50%; margin: 0 2em; } } }