@import '../../bases';

body { font-family: 'lato', sans-serif; }

.date { @include centering(space-evenly,start); }

.example-full-width
{
  width: 30%;
  padding: 0;
  mat-label { display: inline; }
  background-color: #F0F2F4!important;
  .input { display: inline; width: 50%; }
  .icon { float: right; display: inline; }
}
.example-ripple-container,.filtre
{
  width: 20%;
  cursor: pointer;
  line-height: 50px;
  user-select: none;
}
.filtre
{
  width: 15%;
  border: none;
  border-radius: 320px;
}

.date-filters { padding: 2em 0; @include centering(space-evenly); }

.conteneur
{
  @include centering(space-evenly, center, column);
  min-height: 100vh;
  background-color: #F0F2F4;
}
.A
{
  @include dimensions(100%, 0, 0, 50%);
  @include centering(space-evenly, center, null, wrap);
  .a
  {
    @include dimensions(0, 180px, 300px);
    color:#002978;
    border-radius: 16px;
    .a-1 { span { font-size: 2em; } }
    box-shadow: 0 10px 15px rgba(0,0,100,0.3);
    .fas { font-size: 3em; margin-bottom: 30px; }
  }
}

.A,.container { margin: 3.5em 0; }

.container { @include dimensions(0, 50%, 0, 0, 1000px); padding: 0 10px; }

.responsive-table
{
  .col { flex-basis: 25%; }
  li
  {
    @include centering(space-between);
    border-radius: 3px;
    padding: 25px 30px;
    margin-bottom: 25px;
  }
  .table-header
  {
    @include centering(null, center);
    color:white;
    font-size: 14px;
    border-radius: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #002978;
  }
  .table-row { background-color: #ffffff; box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1); }
}

.paginator { background-color: #F0F2F4; }

.date-filters div
{
  border-radius: 320px;
  transition: 0.2s ease-in-out;
  &:hover { background-color: #6C7A89; color: white; }
}
@media screen and (max-width: 590px)
{
  .container { padding: 0; }
  .date-filters { margin: 2em 0; }
  .example-full-width, .filtre { width: 60%; }
  .responsive-table { li { padding: 25px 0; } }
  .table-row, .table-header { overflow-x: auto; }
  .example-ripple-container { margin: 1em 0; width: 40%;}
  .date, .date-filters { @include centering(null, center, column) }
}

@media screen and (max-width: 522px)
{
  .responsive-table
  {
    .table-header { border-radius: 0; }
    .col { flex-basis: 50%; margin: 0 2em; }
  }
  .A { .a { margin: 1.5em 0; } }
}
@media screen and (max-width: 355px)
{
  .example-ripple-container, .example-full-width, .filtre { width: 80%; }
}
@media screen and (max-width: 300px) { .A { .a { min-width: 100%; } } }