@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*
{
    margin: 0;
    padding: 0;
    font-family: "Luckybones", "Helvetica Neue", sans-serif;
}
body
{
    min-height: 100vh;
    background-color: #F0F2F4;
    &::-webkit-scrollbar-button { height: 16px; }
    &::-webkit-scrollbar { width: 8px; height: 8px; }
    &::-webkit-scrollbar-thumb { border-radius: 99px; background-color: #002978; }
}
