<div class="background">
  <div class="card">
    <form [formGroup]="registerForm" (submit)="submitted()">
      <p class="title">Inscription</p>
      <div class="email-login">
        <label for="email"> <b>Adresse email</b></label>
        <input
          type="email"
          formControlName="email"
          placeholder="Veuillez entrer votre identifiant"
        />
        <label for="password"> <b>Mot de passe</b></label>
        <input
          type="password"
          formControlName="password"
          placeholder="Veuillez entrer votre mot de passe"
        />
        <div class="fullName">
          <div>
            <label for="psw"><b>Prénom</b></label>
            <input
              class="name"
              type="text"
              formControlName="prenom"
              placeholder="Entrez votre prénom"
              autocomplete=""
            />
          </div>
          <div>
            <label for="psw"><b>Nom</b></label>
            <input
              class="name"
              type="text"
              formControlName="nom"
              placeholder="Entrez votre nom"
              autocomplete=""
            />
          </div>
        </div>
        <label for="psw"><b>Numéro de téléphone</b></label>
        <input
          type="text"
          formControlName="telephone"
          placeholder="Veuillez entrer votre numéro de téléphone"
          autocomplete=""
        />
      </div>
      <div class="footer">
        <div class="first-child">
          <p>Vous avez déjà un compte ?</p>
          <p><a routerLink="" class="account"> Connectez-vous ici</a></p>
        </div>
      </div>
      <input type="submit" class="cta-btn" value="Enregistrer" />
    </form>
  </div>
</div>
