.body,.paginator
{
    background-color: #F0F2F4;
}
.page-title
{
    margin: 1em 0;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Luckybones', cursive;
}
.my_container
{
    width: 80%;
    padding: 2em;
    min-height: 50vh;
    border-radius: 10px;
}
.first-parent
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.first-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    .add-product
    {
        padding: 1em;
        transition: 0.5s ease-in-out;
        border-radius: 5px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #002978;
        cursor: pointer;
        color:white;
    }
    .add-product:hover
    {
        background-color: #033fb8;
    }
    .fa-trash
    {
        cursor: pointer;
    }
    .ajout
    {
        font-size: 14px;
        margin: 1%;
    }
}
.table-responsive
{
    overflow-x: auto;
}
table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.second-container
{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.second-parent
{
    margin: 2em 0 0 0;
    display: flex;
    justify-content: space-around;
}
.first-contayner
{
    width: 20%;
}
.second-contayner
{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.third-parent
{
    display: flex;
    justify-content: space-around;
    tr
    {
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }
    tr:hover
    {
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }
}
.product-image
{
    img
    {
        width: 60px;
        height: 60px;
        object-fit: scale-down;
    }
}
.checkbox
{
    width: 10%;
}
td
{
    width: 12%;
}

.delete-button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    font-weight: 600;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #002978;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  }

  .delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
  }

  .delete-svgIcon path {
    fill: white;
  }

  .delete-button:hover {
    width: 90px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #002978;
  }

  .delete-button:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .delete-button::before {
    display: none;
    color: white;
    font-size: 2px;
    padding: 0 20px;
    text-align: center;
    content: "Supprimer";
    transition-duration: 0.3s;
  }

  .delete-button:hover::before {
    opacity: 1;
    display: block;
    font-size: 13px;
    padding-right: 20px;
    transition-duration: 0.3s;
    transform: translateY(0px);
  }

.fa-marker
{
    cursor: pointer;
}

@media screen and (max-width: 1100px)
{
    .my_container
    {
        width: 90%;
    }
}
@media screen and (max-width: 930px)
{
    .my_container
    {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 780px)
{
    .first-container
    {
        width: 45%;
    }
    .second-container
    {
        width: 52%;
    }
}

@media screen and (max-width: 768px)
{
    td
    {
        margin: 0 2em;
    }
    .first-parent
    {
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .first-container
    {
        width: 45%;
        margin: 2em 0;
    }
    .second-container
    {
        width: 100%;
    }
}
@media screen and (max-width: 640px)
{
    .first-container
    {
        width: 55%;
    }
}
@media screen and (max-width: 540px)
{
    .first-container
    {
        width: 70%;
    }
}
@media screen and (max-width: 440px)
{
    .first-container
    {
        width: 90%;
    }
    .second-container
    {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 340px)
{
    .first-container
    {
        width: 100%;
    }
}
@media screen and (max-width: 300px)
{
    .first-container
    {
        justify-content: space-between;
        .add-product
        {
            width: 80%;
        }
    }
}