.body,.paginator
{
    background-color: #F0F2F4;
}
.page-title
{
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lumanosimo', cursive;
}
.container
{
    width: 80%;
    padding: 2em;
    min-height: 50vh;
    border-radius: 10px;
}
.first-parent
{
    margin: 1em 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.first-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    button
    {
        padding: 1em;
        transition: 0.5s ease-in-out;
        border-radius: 5px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #002978;
        cursor: pointer;
        color:white;
    }
    button:hover
    {
        background-color: #033fb8;
    }
    .fa-trash
    {
        cursor: pointer;
    }
    .ajout
    {
        font-size: 14px;
        margin: 1%;
    }
}
.second-container
{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.second-parent
{
    margin: 2em 0 0 0;
    display: flex;
    justify-content: space-around;
}
.first-contayner
{
    width: 20%;
}
.second-contayner
{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.third-parent
{
    display: flex;
    justify-content: space-around;
}
.product-image
{
    img
    {
        width: 60px;
        height: 60px;
        object-fit: scale-down;
    }
}
.checkbox
{
    width: 10%;
}
td
{
    width: 12%;
}
.fa-marker
{
    cursor: pointer;
}