<app-spinner *ngIf="spin"></app-spinner>
<app-header></app-header>
<!-- ========== First Parent ========== -->
<div class="body w-100 min-vh-100 d-flex flex-column justify-content-evenly align-items-center">
  <h1 class="page-title">Mes Produits</h1>
  <div class="container">
    <div class="first-parent">
      <div class="first-container">
        <button routerLink="add">
          <i class="fas fa-plus" style="font-size: 10px"></i>
          <p class="ajout">AJOUTER UN PRODUIT</p>
        </button>
        <div data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-trash" style="font-size: 20px" title="Supprimer"></i>
        </div>
      </div>
      <div class="second-container">
        <mat-form-field appearance="outline">
          <mat-label>Catégorie</mat-label>
          <mat-select>
            <mat-option (click)="refresh()">Tous les produits</mat-option>
            <mat-option *ngFor="let categorie of mesCategories" (click)="selectCategorie(categorie)">
              {{ categorie?.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Alerte de Stock</mat-label>
          <mat-select>
            <mat-option (click)="refresh()">Tous les produits</mat-option>
            <mat-option (click)="filtreStock()">En Rupture</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- ========== Second Parent ========== -->
    <div class="second-parent">
      <div class="w-100">
        <table class="w-100">
          <tr class="d-flex justify-content-evenly text-center mb-3">
            <td class="checkbox text-center"><mat-checkbox (change)="check($event)"> </mat-checkbox></td>
            <td class="checkbox text-center"><span>Modifier</span></td>
            <td class="text-center"><span>Nom du produit</span></td>
            <td class="text-center"><span>Image</span></td>
            <td class="text-center"><span>Catégorie</span></td>
            <td class="text-center"><span>Prix</span></td>
            <td class="text-center"><span>Coût</span></td>
            <td class="text-center"><span>En Stock</span></td>
          </tr>
        </table>
      </div>
    </div>

    <!-- ========== Third Parent ========== -->
    <div class="third-parent" *ngFor="let produit of pageSlice | filter : category">
      <div class="w-100 d-flex align-items-center">
        <table class="w-100">
          <tr class="d-flex justify-content-evenly align-items-center my-2">
            <td class="checkbox text-center"><mat-checkbox [checked]="isSelected" (change)="coche($event, produit)">
              </mat-checkbox></td>
            <td class="checkbox text-center">
              <button [routerLink]="['modifier', produit.id]" class="btn btn-light rounded-circle">
                <i class="fas fa-marker" style="font-size: 16px" title="Modifier"></i>
              </button>
            </td>
            <td class=" text-center"><span>{{ produit?.nom }}</span></td>
            <td class="text-center">
              <span><img src="{{ 'data:image/png;base64,' + produit?.image }}" alt="image_produit" width="50px"
                  height="auto"></span>
            </td>
            <td class="text-center"><span>{{ produit.categorie[0]?.nom }}</span></td>
            <td class="text-center"><span>{{ produit?.prix }} FCFA</span></td>
            <td class="text-center"><span>{{ produit?.cout }} FCFA</span></td>
            <td class="text-center"><span>{{ produit?.quantiteEnStock }}</span></td>
          </tr>
        </table>
      </div>
    </div>

    <!-- ========== Pagination ========== -->
    <mat-paginator [length]="mesProduits.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header w-100 d-flex justify-content-end">
        <button type="button" class="close btn btn-dark rounded" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Vouslez-vous vraiment supprimer ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click)="toTrash()" data-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>